<div class="contenedor">
        <div class="producto">
            <div class="principal">
                

            </div>
            <div class="informacion">
                <h2>{{product.title}}</h2>
                <p class="precio">$ {{product.price}}</p>
                <p class="descripcion">{{product.description}}</p>
                <p class="stock">Stock disponible: {{product.stock}}</p>
                <button class="comprar">Comprar ahora</button>
            </div>
        </div>
    </div>